#section1 {
  background-color: light gray;
  width: 100%;
  height: 100%;
}

body {
  background-color: white;
  /* display: flex;
  justify-content: center; */
}

#center-welcome-sign-div {
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

.home-image-div {
  margin-top: 5%;
  display: inline-block;
}

.introduction-section {
  height: 900px;
  text-align: center;
}

ul {
  background-color: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#signature {
  font-family: 'Amatic SC', cursive;
  padding: 14px 16px;
  color: white;
  float: left;
  font-size: 30px;
}

li {
  display: inline;
}

li a {
  font-family: 'Amatic SC', cursive;
  color: white;
  padding: 15px;
  padding-top: 40px;
  text-decoration: none;
  float: right;
  font-size: 20px;
}

li a.hover {
  text-decoration: none;
  background-color: #ddd;
  color: yellow;
}

p {
  padding-top: 100px;
  text-align: center;
}

.summary-container {
  width: 55%;
  padding: 3%;
  margin: auto;
}

.button-div {
  display: flex;
  justify-content: center;
}

.button {
  margin: 50px 5px 0px 5px;
}

.heading {
  text-align: center;
  padding: 10px;

}

.heading-description {
  text-align: center;
  padding-top: 5px;
}

#gallery-section {
  display: flex;
  background-color: gainsboro;
  padding: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  bottom: 5px;
}

.card-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.card-body {
  text-align: center;
}

.card {
  height: 400px;
  margin: 5px;
}

.card-images {
  max-width: auto;
  max-height: 200px;
  object-fit: cover;
}

.card-title {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

.card-text {
  padding: 0;
}

.bjj-title {
  border: solid;
}

.video-container {
  display: flex;
  flex-wrap: no wrap;
}

.current-status-container {
  margin-top: 50px;
}

.footer-container {
  height: 200 px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #39ff14;
  padding: 10px;
}

/* @media (max-width: 950px) {
  #gallery-section {
    background-color: yellow;
    padding: 15px;
  }
} */

/* typewriter effect */
.typewriter h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .75s step-end infinite;
  padding-top: 30px;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0%
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: black;
  }
}

/* boot strap contacts form */
/* Style inputs */
input[type=text],
select,
textarea {
  width: 40%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.contact-container {
  padding: 15px;
  background-color: grey;
  color: white;
  text-align: center;

}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .column,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}